.idea
.vscode
.cursor
/bin
/internal/engine/router/static/*
!/internal/engine/router/static/.gitkeep
/logs
/plugins/*
docs/*.md
*.so
/api/*/*/*.pb.go
/cmd/arcade/wire_gen.go
/cmd/arcade-agent/wire_gen.go
.DS_Store